<div class="card">
    <div class="p-fluid p-col-12">
        <h5>Cities</h5>
        <div class="p-field-checkbox">
            <p-checkbox name="city1" value="Chicago" inputId="city1"></p-checkbox>
            <label for="city1">Chicago</label>
        </div>
        <div class="p-field-checkbox">
            <p-checkbox name="city2" value="Los Angeles" inputId="city2"></p-checkbox>
            <label for="city2">Los Angeles</label>
        </div>

        <h5>Cities</h5>
        <div class="p-formgroup-inline">
            <div class="p-field-checkbox">
                <p-checkbox name="city3" value="Chicago" inputId="city3"></p-checkbox>
                <label for="city3">Chicago</label>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox name="city4" value="Los Angeles" inputId="city4"></p-checkbox>
                <label for="city4">Los Angeles</label>
            </div>
        </div>
    </div>

</div>